/* BODY */
body {
    font-family: Arial, sans-serif;
    background-color: #eee;
    margin: 0;
}

/* HEADER RAINBOW */
.header {
    text-align: center;
    padding: 20px;
    color: white;
    font-weight: bold;
    font-size: 24px;

    background: linear-gradient(270deg, red, orange, yellow, green, blue, indigo, violet, black, white, brown );
    background-size: 1400% 1400%;
    animation: rainbowBG 2s ease infinite;
}

/* ANIMASI RAINBOW */
@keyframes rainbowBG {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

/* PARAGRAF */
.paragraf {
    margin: 20px;
    text-align: justify;
    text-indent: 30px;
    line-height: 25px;
    font-style: italic;
}

/* JUDUL TABEL */
.judul-tabel {
    text-align: center;
}

/* TABEL */
.tabel {
    margin: auto;
    border-collapse: collapse;
    width: 50%;
}

.tabel td {
    border: 1px solid red;
    padding: 10px;
    text-align: center;
}

.tabel tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* BOX RAINBOW */
.box {
    width: 120px;
    height: 120px;
    margin: 50px auto;

    background: linear-gradient(45deg, red, orange, yellow, green, blue, indigo, violet);
    background-size: 400% 400%;

    animation: rainbowMove 5s linear infinite;
    transition: transform 1s;
}

/* ANIMASI BOX */
@keyframes rainbowMove {
    0% { background-position: 0% }
    100% { background-position: 100% }
}

/* HOVER EFFECT */
.box:hover {
    transform: rotate(180deg) scale(1.2);
}

/* TEXT INFO */
.info {
    text-align: center;
    color: blue;
}

/* FOOTER */
.footer {
    margin-top: 50px;
    padding: 15px;
    text-align: center;
    color: white;

    background: linear-gradient(270deg, violet, indigo, blue, green, yellow, orange, red);
    background-size: 1400% 1400%;
    animation: rainbowBG 8s ease infinite;
}